.forecast-card {
  margin: 0 0 15px;
}

.forecast-card h4,
.forecast-card h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

.forecast-card p {
  font-size: .9em;
  line-height: 1.25em;
  margin: 0;
}
.forecast-card ul {
  list-style-type: none;
  font-size: .9em;
  line-height: 1em;
  margin: 0 0 8px;
}
.forecast-card li {
  border-bottom: 1px solid #cccccc;
  padding: 4px 0;
  margin: 0;
}
.forecast-card .icons {
  background-color: rgb(58, 159, 199);
  text-align: center;
  margin-bottom: 5px;
  vertical-align: middle;
}
.forecast-card .icons img {
  height: 50px;
}
.forecast-card .icons img.moon-icon {
  height: 36px;
}

.forecast-card .sun {
  background-color: rgb(253, 236, 160);
  color: rgb(203, 155, 42);
  text-align: right;
  font-size: .75em;
  padding: 3px 6px;
  margin: 2px 0;
}

.forecast-card .moon {
  background-color: rgb(225, 225, 225);
  color: rgb(130, 130, 130);
  text-align: right;
  font-size: .75em;
  padding: 3px 6px;
  margin: 2px 0;
}
/* #about {
  display: flex;
  justify-content: center;
  margin: 20px;
  border: 2px;
  border-color: black;
} */
#about h3 {
  justify-content: center;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  background-color: rgb(199, 188, 188);
  text-align: center;
}
#about ul {
  list-style-type: none;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  border-width: 2px;
  background-color: rgb(199, 188, 188);
  padding: 20px;
}

#about img {
  margin: 20px;
}
