/* ---- TOP-LEVEL STYLES ---- */
:root {
  --header-blue: rgb(91, 145, 199);
  --search-blue: rgb(59, 112, 165);
  --forecast-blue: rgb(124, 179, 235);
  --sun-background: rgb(253, 236, 160);
  --sun-text: rgb(203, 155, 42);
  --moon-background: rgb(225, 225, 225);
  --moon-text: rgb(130, 130, 130);
}

a,
a:active,
a:hover {
  text-decoration: none;
}


/* ---- HEADER ---- */

header {
  position: relative;
  height: 85px;
  margin-bottom: 10px;
  background-color: var(--header-blue);
}

header h1 {
  font-family: "Aboreto", cursive;
  font-size: 50px;
}

header img {
  position: relative;
  top: 11px;
  width: 60px;
}

header button.button {
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: -19px;
  background-color: var(--header-blue);
  border-color: var(--header-blue);
}



/* ---- SEARCH ---- */

section#search {
  padding-left: 4px;
}

#searchInput {
  width: 98%;
  margin-left: 4px;
}

#searchInput,
#searchName {
  font-size: 0.8em;
  border-radius: 5px;
  border-color: var(--search-blue);
  color: var(--search-blue);
}

#savedSearches .button.button--small {
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: var(--search-blue);
  border-color: var(--search-blue);
}

#searchBtn.button.button--outline,
#clearBtn.button.button--outline,
#noBtn.button {
  color: var(--search-blue);
  border-color: var(--search-blue)
}



/* ---- CONFIRMATION MODAL AND MAIN DISPLAY STYLES ---- */

#about {
  margin-left: 4px;
  margin-bottom: 15px;
}

#about h2,
#confirmation-modal h3 {
  font-weight: bold;
  margin: 0 0 4px;
}

#about div,
#modalMap {
  float: left;
  margin-right: 8px;
}

#about img,
#modalMap img {
  width: 150px;
  height: 150px;
  margin-right: 6px;
}
#about ul,
#confirmation-modal ul {
  list-style-type: none;
}

#about li,
#confirmation-modal li {
  margin: 0;
}


#confirmationContent.modal-content {
  border: none;
  padding: 0;
  margin: 0;
}

#confirmation-modal label {
  margin-top: 12px;
  font-size: 0.9em;
}


#yesBtn.button {
  background-color: var(--search-blue);
  border-color: var(--search-blue);
}

#confirmation-modal li#suggestion {
  margin-top: 10px;
  font-style: italic;
  font-size: 0.9em;
  line-height: 1em;
}

#hideThisSpan {
  display: none;
}



/* ---- FORECAST CARD STYLES ---- */

.forecast-card {
  margin: 0 0 15px;
}

.forecast-card h4,
.forecast-card h5 {
  margin-bottom: 5px;
  font-weight: bold;
}

.forecast-card p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.25em;
}
.forecast-card ul {
  list-style-type: none;
  margin: 0 0 8px;
  font-size: 0.9em;
  line-height: 1em;
}
.forecast-card li {
  margin: 0;
  padding: 4px 0;
  border-bottom: 1px solid #cccccc;
}
.forecast-card .icons {
  position: relative;
  height: 50px;
  margin-bottom: 5px;
  background-color: var(--forecast-blue);
  text-align: center;
  line-height: 0.5em;
}

.forecast-card .icons img {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 50%;
  height: 60px;
}
.forecast-card .icons img.moon-icon {
  top: 4px;
  left: 50%;
  height: 40px;
}

.forecast-card .sun {
  margin: 2px 0;
  padding: 3px 6px;
  background-color: var(--sun-background);
  color: var(--sun-text);
  font-size: 0.75em;
  text-align: right;
}

.forecast-card .moon {
  margin: 2px 0;
  padding: 3px 6px;
  background-color: var(--moon-background);
  color: var(--moon-text);
  font-size: 0.75em;
  text-align: right;
}



/* ---- ABOUT MODAL STYLES ---- */

.mg-modal h3 {
  margin-bottom: 10px;
}

.mg-modal--content {
  width: 90%;
}

div.mg-tabs div {
  border-bottom: none;
}

.mg-tabs > ul > li.active,
.mg-tabs > ul > li:hover {
  margin-top: 0;
  border-color: var(--search-blue);
}




/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 480px) {
  
  header {
    height: 55px;
  }

  header h1 {
    font-family: "Aboreto", cursive;
    font-size: 30px;
  }

  header img {
    position: relative;
    top: 7px;
    width: 39px;
  }

  header button.button {
    margin-top: -12px;
    right: 12px;
    height: 24px;
    font-size: 0.5em;
    line-height: 24px;
  }
  
  #display h2 {
    margin-top: 6px;
    font-size: 1.5em;
  }

  .forecast-card h4 {
    font-size: 1.2em;
  }

  .forecast-card h5 {
    font-size: 1em;
  }

  #about img,
  #modalMap img {
    width: 100px;
    height: 100px;
  }

  #confirmation-modal li {
    font-size: 0.9em;
    line-height: 1.2em;
  }

  .forecast-card .icons {
    height: 40px;
  }
  .forecast-card .icons img {
    height: 50px;
    top: -6px;
  }
  .forecast-card .icons img.moon-icon {
    height: 30px;
    top: 4px;
  }

}


@media screen and (max-height: 400px) {

  .mg-modal--content {
    width: 100%;
  }

  #about img,
  #modalMap img {
    width: 100px;
    height: 100px;
  }
  
  #modal-1 > .mg-modal--content {
    font-size: .8em;
  }
}